# Dependencies and AdonisJS build
node_modules
tmp
.dist

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

helper.txt
essai.txt

vite.config.ts
vite.config.js
build/vite.config.js
dist/vite.config.ts